.header {
display: block;
width: 45%;
margin: auto;
margin-left: 5px;
}

body {
    background-color: black;
}

.index_picture {
    display: block;
    width: 40%;
    margin: auto;
    margin-right: 5px;
    margin-top: 45px;
    
   
}

/* Lasagna Button */

.Lasagna
 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: rgb(255, 255, 255);
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 32px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Lasagna:hover,
.Lasagna:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.Lasagna:active {
  background: var(--color);
  color: #fff;
}
/* Currywurst button */

.Currywurst
 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: rgb(255, 255, 255);
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 32px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Currywurst:hover,
.Currywurst:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.Currywurst:active {
  background: var(--color);
  color: #fff;
}

/*Bolognese Button*/

.Bolognese
 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: rgb(255, 255, 255);
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 32px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Bolognese:hover,
.Bolognese:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.Bolognese:active {
  background: var(--color);
  color: #fff;
}

/*Blue Cheese Stuffed Chicken Breasts Button*/

.Blue_cheese
 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: rgb(255, 255, 255);
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 32px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Blue_cheese:hover,
.Blue_cheese:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.Blue_cheese:active {
  background: var(--color);
  color: #fff;
}

div.recipe_buttons1 {
    position: absolute;
    top: 525px;
    margin-left: 100px;
}

div.recipe_buttons2 {
    position: absolute;
    top: 675px;
    margin-left: 150px;
}

h1, h2, h3, p, ul, ol {
    color: white;
    font-size: auto;
}

h1{
    font-size: 45px;
}