.header {
display: block;
width: 45%;
margin: auto;
margin: 1%;
}

body {
    background-color: black;
}

.index_picture {
    display: block;
    width: 38%;
    margin: auto;
    margin-right: 1%;
    margin-top: -1%;
    padding: 1%;
}

/* Navigation Bar WIP */

.topnav {
    background-color: #333;
    background-size: 100px;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgba(222,196,186,255);
    color: white;
  }



/* Lasagna Button */

.Lasagna
 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: rgb(255, 255, 255);

  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 32px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Lasagna:hover,
.Lasagna:focus-visible{
  --_p: 0px;
  outline-color: rgba(222,196,186,255);
  outline-offset: .05em;
}

.Lasagna:active {
  background: rgba(222,196,186,255);
  color: #fff;
}
/* Currywurst button */

.Currywurst
 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: rgb(255, 255, 255);
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 32px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Currywurst:hover,
.Currywurst:focus-visible{
  --_p: 0px;
  outline-color: rgba(222,196,186,255);
  outline-offset: .05em;
}

.Currywurst:active {
  background: rgba(222,196,186,255);
  color: white;
}

/*Bolognese Button*/

.Bolognese
 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: rgb(255, 255, 255);
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 32px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Bolognese:hover,
.Bolognese:focus-visible{
  --_p: 0px;
  outline-color: rgba(222,196,186,255);
  outline-offset: .05em;
}

.Bolognese:active {
  background: rgba(222,196,186,255);
  color: #fff;
}

/*Blue Cheese Stuffed Chicken Breasts Button*/

.Blue_cheese
 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: rgb(255, 255, 255);
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 32px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Blue_cheese:hover,
.Blue_cheese:focus-visible{
  --_p: 0px;
  outline-color: rgba(222,196,186,255);
  outline-offset: .05em;
}

.Blue_cheese:active {
  background: rgba(222,196,186,255);
  color: #fff;
}

div.recipe_buttons1 {
    position: absolute;
    margin-left: 15%;
    margin-top: -20%;
}

div.recipe_buttons2 {
    position: absolute;
    margin-left: 10%;
    margin-top: -12%;
    padding: 1%;
  
}
.recipe-buttons {

}

h1, h2, h3, p, ul, ol {
    color: white;
    font-size: auto;
}

h1{
    font-size: 45px;
}